* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
  padding-left: 0;
}

body {
  margin: 0;
}

.container {
  width: 1140px;
  height: 100%;
  margin: auto;
}

.content {
  width: 50%;
}

.pfmitem {
  width: 50%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mt_mb {
  margin: 50px 0 50px 0;
}

.padding-left {
  padding-left: 20px;
}

h1 {
  text-align: center;
}

.pfmitem {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
}

.content_text {
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.tab {
  padding: 20px;
}

.cart_btn {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  border: 1px solid #26bec9;
  border-radius: 50%;
}

.ticket {
  width: 100%;
  height: 100%;
}

.ticket span {
  font-weight: 500;
}

.men {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.oldmen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.student {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pfmcontainer {
  cursor: pointer;
  padding-right: 10px;
}

.tabpanel {
  padding-left: 10px;
}

.form-group {
  position: relative;
}

.credit {
  position: absolute;
  -webkit-transform: translate(30%, -75%);
          transform: translate(30%, -75%);
}

.ccn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pay {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pay_img {
  padding: 5px;
}

.pay_img img {
  width: 150px;
  height: 150px;
}

.pay_title {
  font-size: 18px;
  font-weight: 900;
  padding: 5px 0 5px 0;
}

.pay_icon {
  font-weight: normal;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.total {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pay_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.payMoney {
  background-color: #26bec9;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 568px) {
  .container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=booking.css.map */